@inherits WebElementBase

@{
    base.BuildRenderTree(__builder);
}

@switch (Target)
{
    case WebElementBase {Id: { } id}:
    {
        <label for="@id">@ChildContent</label>
        break;
    }
    case string id:
    {
        <label for="@id">@ChildContent</label>
        break;
    }
    default:
    {
        <label>@ChildContent</label>

        break;
    }
}